

#menu
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 18px;
	position: fixed;
	width: 100%;
	height: 60px;
	background: rgb(0, 17, 255);
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(56, 47, 177);
 }

 li {
	float: left;
 }

 li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
 }



 body { 
	color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
	line-height: 40px;
	font-weight: bold;  
	background-image: url('myPhotos\back.jpg');
	background-size: cover;
}



 .generaDesign {   
  font-family: "Comic Sans MS", cursive, sans-serif;
	color:darkblue;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold; 
	text-shadow: rgb(0, 0, 0); 
 } 

 .photosDesign {   
	font-family: Gill Sans / Gill Sans MT, sans-serif;

	color:rgb(45, 93, 13) ;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 20px;
	line-height: 30px;
 } 


h2 {
	font-size: 18;
	font-style: italic;
	color: rgb(4, 102, 25);
}